.navbar {
  width: 100%;
  background-color: #000;
  color: #fafafa;
  padding: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: sticky;
  top: 0;
}

.on-logo-text {
  font-size: 30px;
  margin: 0 15px;
}

.navbar-logo {
  max-width: 100px;
  max-height: 50px;
}

.on-logo-img {
  max-width: 100px;
  max-height: 50px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    justify-content: center;
  }
}
